body{
    max-width: 70%;
    min-width: 40rem;
    margin: auto;
    box-shadow: 20px 20px 50px grey;
}

header{
    text-align: center;
}
header img{
    margin-top: 1rem;
    max-width: 200px;
}
header p {
    margin-top: 0em;
    margin-bottom: 0em;
}
.section{
    max-width: 90%;
    padding: 2rem 2rem 2rem 2rem;
    margin: auto;

}


.section__sub{
    max-width: 100%;
    padding-left: 2rem;
}
.section__sub h3{
       margin-bottom: 2px;
    }


.edu__school,
.edu__year{

    display: inline;
}

.gitpro a{
    text-decoration: none;
    color: rgb(111, 56, 16);
}

.gitpro a:hover{
    text-shadow: 2px 2px 5px grey ;
    font-size: 20px;
}