body {
    max-zoom: 100%;
    min-width: 350px;
    color:	#303030;
}

*{
    font-family: 'Times New Roman', Times, serif;
}


.navbar {
    background-color: rgb(109 66 131);
    padding: 0 15px;
    font-size: 20px;

  }

.nav__item a{
    text-decoration: none;
    color: aliceblue;
}
.nav__item a:hover{
    color:bisque;
}

.bar{
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    padding: 7.px 10px 7.5px 0;
    background-color: whitesmoke;
}

.logo a{
    font-family: 'Brush Script MT', cursive;
    font-style: italic;
    font-weight: bold;
    font-size: 2rem;
    text-decoration: none;
    color:antiquewhite;
    padding-bottom: 0;
    
}

/* mobile view */
nav{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}
nav a{
    display: block;
    padding: 15px 15px;
}

.nav__item{
    order:2;
    width: 100%;
    text-align: center;
    display: none;
    border-bottom: 1px rgb(109, 100, 113) solid;
}

.active .nav__item{
    display: block;
}
/*---------------------------------------*/
header {
    text-align: center;
    margin-top: 2rem;
}

header img {
    max-width: 200px;
}

header p {
    margin-top: 0em;
    margin-bottom: 0em;
}

.section {
    max-width: 90%;
    padding: 1rem 1.2rem;

    margin: auto;
}

.project__desc{
    margin: 0px;
}
h3{
    margin: 0px;
    margin-bottom: 0.5em;
}
.section__sub{
    padding:1em 0em 0em 1em;
}
.section__sub a {
    color: rgb(109 66 131);
    margin-bottom: 0.5em;
}
.section__sub {
    max-width: 100%;
    text-align: left;
 
}

.edu h3{
    margin: 0;
}
.course,
.edu__details,
.workshop{
    display:flex;
    height: fit-content;

}

.course a,
.edu__school,
.workshop a{
    order:1;
    width:100%

    
}
.course__name{
    display: inline;
    
}
.uni,
.edu__year,
.venue{
    width: 60%;
    font-size: small;
    text-align: right;
    order:2;
    font-style: italic;
    color: darkgrey;
    height: fit-content;
}

.project__desc,
.course__desc,
.workshop__desc{
    padding-left: 0em;
    /*padding-left:1em;*/
    padding-right: 1.5em;
    /*    text-align: justify;*/
}

.date,
.sign{
    text-align: right;
    font-style: italic;
}


footer{
    text-align: center;
    width:100%;
    background-color: rgb(109 66 131);

    font-size: 20px;

}

@media all and (min-width:960px){

    body {

        max-width: 70%;
        min-width: 350px;
        margin: auto;
        box-shadow: 20px 20px 50px grey;
        padding:0 2rem;
    }
    .nav__item{
        order: 1;
        position: relative;
        display: block;
        width: auto;
        border-bottom:0px;
    }
    .toggle{
        display: none;
    }



}
.sign__container{
    padding-top: 10px;
}
.copy{
    font-size: small;
    color: lightgrey;
    opacity: 0.7;
    padding-bottom: 5px;
}

.social__media{
    width: 30px;
    padding: 20px 40px;
    opacity: 0.8;
}

.social__media:hover{
    opacity: 1;
}
/*------------------Print----------------------*/
@media print{

    body {

        min-width: 960px;
        margin: auto;
        padding:0 2rem;
    }
    
    .nav{
        display: none;
    }
    .nav__item{
        display: none;
    }
    .navbar{
        display: none;
    }
    .toggle{
        display: none;
    }
    



}